html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: black;
    margin-top: 0; 
    padding-top: 0; 
}

.navbar-logo {
    max-height: 50px;   
    width: auto; 
    margin-right: 20px; 
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    margin: 0 15px; 
}

.navbar-nav > .nav-item > .nav-link:hover {
    background-color: #0d6efd;
    color: white !important;
    transition: background-color 0.3s ease;
}


.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around; 
}

main {
    flex: 1;
}

.container {
    margin-top: 10px;
    padding-right: 0 !important;
}

.form-control {
    background-color: lightblue;
}

#carouselExampleCaptions {
    max-height: 400px; 
    overflow: hidden;
}

#carouselExampleCaptions .carousel-item {
    height: 400px; 
}

#carouselExampleCaptions .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

@media (max-width: 768px) {
    #carouselExampleCaptions,
    #carouselExampleCaptions .carousel-item {
        height: 250px; 
    }
}

#productos {
    position: relative;
}

.submenu-productos {
    display: none;
    position: absolute;
    top: 100%; /* Esto lo coloca justo debajo del enlace "Productos" */
    left: 0;
    background-color: #111;
    padding: 10px;
    min-width: 150px;
    z-index: 1000;
    border: 1px solid #333;
    border-radius: 4px;
}

.breadcrumb {
    font-size: 1.25rem; /* Cambia el tamaño aquí */
}

.product-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}



