body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    margin-top: 0; /* Elimina cualquier margen superior */
    padding-top: 0; /* Elimina el relleno superior */
}

.navbar-logo {
    max-height: 50px; /* Ajusta el alto máximo según el tamaño de la barra de navegación */
    width: auto; /* Mantiene las proporciones del logo */
    margin-right: 20px; /* Espaciado entre el logo y el resto de la barra */
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    margin: 0 15px; 
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around; 
}

.container {
    margin-top: 10px;
}

.form-control {
    background-color: lightblue;
}
